*{
	margin:0;
	padding:0;
	font-family:century gothic;
	
} 
body{
	font-family: Arial;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(up.jpg);
height: 100vh;
background-size: cover;
background-position: center;}
h1{font-size: 45px;text-shadow: 3px 3px red; }

header{
	background: #2c2660;
	color: white;
	padding: 8px 0px 6px 40px;
	height: 70px;
	margin-left:40% 
	margin-right:0px;
	background-size: cover;
	border: 8px 
	border-style: ridge;
border-radius: 20px;
}


#link ul li{display:inline-block;
	margin-left:  2px;

}
#link ul li a{
	
	text-decoration:none;
	color:#fff;
	padding:10px 30px;
	border:1px solid transparent; 
	transition:0.6s ease;
	font-size: 20px;
	text-align: center;
}  
#link ul li a:hover{background-color:#fff;
color:#000;}
#link ul{
	padding: 0px;
	margin: 0px;

	float:left;
	list-style-type:none;
	margin-top:-3%;
	margin-left: 50%;
	position: relative;
	
}
.event{
	 background-color: #961e4a;
	 
}
.event  i{
	 padding-left:100px; 
	font-size: 30px;

}
#block
{
	clear: both;
	position:absolute;
	background-color:#99004d;
	
	height: 450px;
	width: 277px;
	margin:100px;
	float:left;
	margin-left: 0%;
	border-width:  4px ;
	
border-style: ridge;
border-radius: 20px;

}

#pp
{
	clear: both;
	width: 30px;
	float:left;
	position:absolute;
	margin-top: 1px;
	margin: 100px;
	margin-left: 0px;
	padding: 10px 50px;
	padding-left: 10px;

}
#common{
	color: white;

	position:relative;
	margin-left: 10px;
	margin-right: 70%;
	float:left;
	position:absolute;
	font-size: 20px;
	font-family:Arial,serif,"Times New Roman";
	
}
#name
{
	
	margin-top: 212px;
}


#university
{
	
	margin-top:3%;
}
#branch
{
	margin-top: 4%;
}
#year
{
	
	margin-top: 5%;
}
#placed{margin-top: 6%;}
#logout
{
	font-size: 20px;
	float:right;
	clear: both;
	position: absolute;
	margin-left: 90%;
	margin-right: 30px;
	margin-top: -8%;
}
 #logoutl a{

	text-decoration: none;
	color:white;
}
     #logoutl  a:hover {
                
                text-decoration: underline;
                color: blue;
                
            }
}